*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif; 
}

body{
    background-color: #ebebeb;
    }


    a{
        color: #000;
        text-decoration: none;
        font-size: larger;
        cursor: pointer;
    }
    
    a:hover{
        color: #a5b800;
    }

    header{
        background-color: #2c2c2c;
        color: #fff;
        margin-bottom: 15px;
        position: static;
        width: 100%;
        top: 0;
    }
    
    .header h1{
        display: none;
    }
    .navigation ul{
        display: flex;
        list-style: none;
        height: 100px;
    
    }
     
    .navigation a{
        color: #fff;
    }
    
    .navigation li{
        padding: 0 20px;
        display: flex;
        align-items: center;
    }
    
    .navigation li:hover{
        background-color: #a5b800;
        
    }

    .bannertitle{
        color: #000000;
        background-color: #a5b800;
        position: relative;
        top: 30px;
        font-size: x-large;
        text-align: center;
    }

    .section_element{
        margin-bottom: 250px;
        top: auto;
        color: #000;
        background-color: #fff;
        display: flex;
        justify-content: space-between;



    }

    .bannertext{
        color: #a5b800;
        background-color: #000;
        width: auto;
        height: 150px;
        text-align: center;
        font-size: 50px;
        margin: 100px;
        border-radius: 10px;
        

        
        



    }
   
    .bannerproduct{
        background-color: #000000;
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: #a5b800;
        font-size: medium;
        cursor: pointer;
        height: 50px;
        text-align: center;
        margin-top: 400px;
        margin-right: 200px;
       

    }

    .bannerproduct:hover{
        background-color: #383b0e;

    }

    .page{
        margin-top: 0;
    }



    .title-h2{

        
        text-align: center;
        font-size: 50px;
        background-color: #a5b800;
    }




    .product{
        
        display: flex;
        justify-content: space-between;
        text-align: center;
        font-size: 15px;
        margin: 0;
        padding: 0;
        margin-top: 100px;
        
    }

    .product-item:hover{
        background-color: #a5b800 solid;
        cursor: pointer;
        border: 1px #a5b800 solid;
        color: black;
        box-sizing: border-box;
        

    }

    .product-item:active{
        background-color: #a5b800;
        
      

        

    }


    .footer{
        background-color: #2c2c2c;
        margin-top: 100px;

        height: 50px;
        color: #fff;
        
        padding: 20px;
    }

   .buyproduct{

   }